@import url("./font.css");
@import url("./theme.css");
@import "tailwindcss";
body {
  font-size: 16px;
  font-family: "vazir";
  font-weight: normal;
  direction: rtl;
  background-color: var(--surface);
  color: var(--text);
}

.wave-box {
  border-radius: 40% 60% 55% 45% / 60% 40% 60% 40%;
  animation: waveMotion 6s ease-in-out infinite;
}

@keyframes waveMotion {
  0% {
    transform: translateY(0) rotate(0deg);
    border-radius: 40% 60% 55% 45% / 60% 40% 60% 40%;
  }
  25% {
    transform: translateY(-4px) rotate(-0.5deg);
    border-radius: 42% 58% 57% 43% / 62% 38% 62% 38%;
  }
  50% {
    transform: translateY(0) rotate(0.3deg);
    border-radius: 40% 60% 55% 45% / 60% 40% 60% 40%;
  }
  75% {
    transform: translateY(3px) rotate(0.5deg);
    border-radius: 38% 62% 53% 47% / 58% 42% 58% 42%;
  }
  100% {
    transform: translateY(0) rotate(0deg);
    border-radius: 40% 60% 55% 45% / 60% 40% 60% 40%;
  }
}
.swiper-pagination-bullet-active {
  background: var(--primary) !important;
  width: 20px;
  border-radius: 10px;
}
@keyframes slideLine {
  0% {
    transform: translateX(-150%) translateY(-150%) rotate(45deg);
  }
  50% {
    transform: translateX(150%) translateY(150%) rotate(45deg);
  }
  100% {
    transform: translateX(-150%) translateY(-150%) rotate(45deg);
  }
}

.straight-line {
  position: absolute;
  top: 0;
  left: 0;
  width: 200%;
  height: 3px;
  background: linear-gradient(
    90deg,
    transparent,
    var(--primary),
    var(--secondary),
    var(--primary),
    transparent
  );
  transform: translateX(-50%) translateY(-50%) rotate(45deg);
  opacity: 0.1;
  filter: blur(0.5px);
  transition: all 0.3s;
  pointer-events: none;
  box-shadow: 0 0 10px var(--primary);
}

.group:hover .straight-line {
  opacity: 1;
  filter: blur(0px);
  animation: slideLine 3s ease-in-out infinite;
}

.straight-line-2 {
  position: absolute;
  top: 0;
  left: 0;
  width: 200%;
  height: 1px;
  background: linear-gradient(
    90deg,
    transparent,
    var(--secondary),
    var(--primary),
    var(--secondary),
    transparent
  );
  transform: translateX(-30%) translateY(-30%) rotate(45deg);
  opacity: 0.05;
  transition: opacity 0.3s;
  pointer-events: none;
}

.group:hover .straight-line-2 {
  opacity: 0.3;
  animation: slideLine 3.5s ease-in-out infinite reverse;
}
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-fadeIn {
  animation: fadeIn 0.5s ease-out forwards;
}
